body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.balloon {
 
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius:50%;
}

.balloon:hover {
    cursor: pointer;
}