html
{
    background-image: url("https://media.giphy.com/media/gx54W1mSpeYMg/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    width: 100%;
    border: 1px solid;
    border-style: groove;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
}

th {
    border: 1px solid;
    border-style: groove;
}

.table1 {
    background-color: rgb(5, 185, 5);
    width: 50%;
}

.table2 {
    background-color: salmon;
    width: 50%;

}