body {
    margin: auto;
}

table {
    width: 100%;
    border: 1px solid;
    border-style: groove;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

th {
    border: 1px solid;
    border-style: groove;
}

.table1 {
    background-color: rgb(5, 185, 5);
    width: 50%;
}

.table2 {
    background-color: salmon;
    width: 50%;

}